.quest {
}

.quest-preview.unique {
  background: $clr5;
}

.quest-preview .uniq-quest{
  margin: 0 0 1rem;
}

.countdown {
    z-index: 400; 
    position: fixed;
    left: 10px;
    border-radius: 87800px;
    border: 3px solid $clr1;
    background: $clr5;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    .countdown-label {
      
    }
    .countdown-clock {
      font-size: 2rem;
    }
}

@media only screen and (max-width: $mobile-media) {
  .countdown {
    width: 4rem;
    height: 4rem;
    .countdown-label {
     display: none;
    }
    .countdown-clock {
      font-size: 2.2rem;
    }
  }
}
.quest-txt {
// color: black;
text-align: center;
flex-grow: 1;
padding: 0.5rem 0 0;
}

.ans-container {
  direction: ltr;
}

button.browse-btn {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  padding: 10px 20px;
}

// .browse-btn {
//   width: 6rem;
//   border-radius: 8px;
//   border: 1.5px black solid;
//   background: rgb(255, 227, 176);
//   font-weight: bold;
//   margin-bottom: 2rem;
//   transition: all 1s;
//   &:hover {
//       background: rgb(31, 185, 231);
//       // color:  rgb(255, 227, 176);
//       // border: 1.5px  rgb(255, 227, 176) solid;
//   }
// }

.quest-img {
height: 45vh;
width: 360px;
max-width: 100vw;
background-position: center center;
margin: 0.5rem auto 2rem;
background-repeat: no-repeat;
}

.ans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  span {
    font-size: 2rem;
  }

  .slider {
    width: 75vw;
    max-width: 300px;
    height: 2rem;
  }
}
h3 {
  direction: rtl;
}
h3.unique {
  color: darkgreen;
}
