
.nav-bar {
    width: 100%;
    height: 4rem;
    color: $clr5;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    right:0;
    z-index: 400;
}

.nav-bar ul{
    li {
        transition: all 1s;
    }
    li:hover{
        transform: scale(1.3);
    }


    li{
        margin-left: 2rem;
    }
    li:last-child {
        margin: 0;
    }
}

.nav-bar select{
    margin-left: 20px;
}

.nav-bar .logo {

}

@media (max-width: 630px){
    
}
