

.students-table {
    width:  100%;
    max-width: 650px;
    text-align: center;
    background: $clr3;
    margin-bottom: 25px;
    p {
        text-align: center;
        flex: 1;
        background: $clr2;
        border: 1px solid $clr3;
        margin: 0;
        color: $clr6
    }
    header p {
        background: $clr1;
        color: $clr2;
        font-family: 'Rubik-bold';
        font-weight: 700;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header p.pc-only {
        display: none;
    }

    @media (min-width: 420px){
        header p.pc-only {
            display: flex;
        }
    }
    .expand-btn {
        flex: .2;
    }
    
    font-size: 17px;
    @media (min-width: 420px){
        font-size: inherit;
    }

}

.student-basic-info {
    background: $clr5;
    cursor: pointer;
    p {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // font-family: 'Rubik-bold';
        // font-weight: 700;
    }
    p.pc-only {
        display: none;
    }
    @media (min-width: 420px){
       p.pc-only {
            display: flex;
        }
        p {
            height: 2.1rem;
        }
    }
}
.student-expand-info {

    background: $clr6;
    color: $clr5;
    p {
        background: $clr1;
        color:  $clr2;
        height: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p.pc-only {
        display: none;
    }
    @media (min-width: 420px){
       p.pc-only {
            display: flex;
        }
    }
    .heb-name {
        flex: 1;
        // border-right-color: transparent;
    }
    .expand-btn {
        // border-left-color: transparent;
    }
}

p.change-precent {
    text-align: left;
    direction: ltr;
    .sign {
        padding: 0 .7rem;
        width: 1.5rem;
    }
}

p.t-res {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        padding: 0 .7rem;
        width: 1.5rem;
        float: left;
    }
}

// .students-table {
//     section:hover{
//         .increase p:not(.expand-btn){
//             background:lighten(darkgreen,10%)
//         }
//         .decrease p:not(.axpand-btn){
//             background:lighten(darkred,10%)
//         }
//     }
// }


.increase p {
    background: darkgreen;
    color: white;
}

.decrease p {
    background: darkred;
    color: white;
}

// .student-basic-info:hover{
//     &.increase p:not(.expand-btn) {
//         background: lighten(darkgreen, 10%);
//     }
//     &.decrease p:not(.expand-btn) {
//         background: lighten(darkred ,10%);
//     }
// }


