@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/Rubik-Regular.ttf')
}
@font-face {
    font-family: 'Rubik-Bold';
    font-style: bold;
    font-weight: 700;
    src:url('../fonts/Rubik-Bold.ttf')
}