/* Helper */

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
  
.flex {
  display: flex;
}
  
.align-center {
  align-items: center;
}
  
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.space-between {
  justify-content: space-between;
  }
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 700;
}