* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    color: $clr1;
}

body {
  margin: 0;
  background: $clr2;
  font-family: 'Rubik';
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 99999999px;
    border: $clr1 1px solid;
    color: $clr1;
    background: $clr5;
    width: fit-content;
    padding: 5px 20px;
    transition: all .7s;
    margin-bottom: .5rem;
}

button:hover {
    border: $clr5 1px solid;
    color: $clr5;
    background: $clr1;
}

a {
text-decoration: none;
color: inherit;
    &:active, &:visited {
        color: inherit;
    }
}

h1 {
    font-size: 2rem;
}

input {
    border: $clr1 solid .115rem;
    width: 150px;
    border-radius: 89988px;
    font-family: inherit;
    padding: .5rem 1rem;
    &:focus {
        border-color: lightskyblue;
        outline: none;
    }
}

@media only screen and (min-width: $mobile-media){
    input {
        width: 300px;
    }
}
label {
    margin-bottom: 1rem;
    text-align: right;
    span {
        width: 150px;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: $container-width;
}

nav {
    background: $clr1;
}

h3 {
    margin: .7rem auto 1rem;
}

select {
    border-radius: 89909px;
    font-size: 1.2rem;
    font-family: 'Rubik';
}

.hr {
    height:2px;
    background: $clr5;
    margin: 4px 0;
}

table {
    text-align: center;
    margin: 0 auto .1rem;
    width: 100%;
    max-width: 500px;
    td {
        border-radius: 3px;
    }
    padding: 0 10px;
  }

  thead {
      td{
          background: $clr1;
      }
      color: $clr2;
      font-weight: 700;
  }

  tbody {
    td {
        background: $clr5;
    }
    tr:hover td{
        background: darken($clr5, 4%);
        // color: $clr2; 
    }
  }

  .avg-display {
    color: $clr1;
    font-weight: 700;
    justify-content: center;
    border-radius: 8px;
    padding: 0 .2rem;
    background: $clr5;
    &.danger {
        background: darkred;
        color: white;
    }
    &.success {
        background: darkgreen;
        color: white;
    }
  }
