* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    color: $clr1;
}

body {
  margin: 0;
  background: $clr2;
  font-family: 'Rubik';
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 99999999px;
    border: $clr1 1px solid;
    color: $clr1;
    background: $clr5;
    width: fit-content;
    padding: 5px 20px;
    transition: all .7s;
}

button:hover {
    border: $clr5 1px solid;
    color: $clr5;
    background: $clr1;
}

a {
text-decoration: none;
color: inherit;
    &:active, &:visited {
        color: inherit;
    }
}

h1 {
    font-size: 2rem;
}

input {
    border: $clr1 solid .1rem;
    width: 150px;
    border-radius: 89988px;
    font-family: inherit;
    padding: .5rem 1rem;
    &:focus {
        border: lightskyblue solid 2.5px;
        outline: none;
    }
}

@media only screen and (min-width: $mobile-media){
    input {
        width: 300px;
    }
}
label {
    margin-bottom: 1rem;
    text-align: right;
    span {
        width: 150px;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: $container-width;
}

nav {
    background: $clr1;
}

h3 {
    margin: .7rem auto;
}

select {
    border-radius: 89909px;
    font-size: 1.2rem;
    font-family: 'Rubik';
  }