// Scss Variables


$rail-fill-color: #3e41e4;
$rail-height: 1rem;
$knob-size: 1.5rem;

//COLORS

$clr1: rgb(31, 6, 141);
$clr2: white;
$clr3: rgb(184, 173, 173);
$clr4: rgb(90, 86, 86);
$clr5: #e7ebff;
$clr6: black;
