// Scss Variables


$rail-fill-color: #3e41e4;
$rail-height: 1rem;
$knob-size: 1.5rem;

//COLORS
// $clr-lior1: #957a7a;
// $clr-lior2:#c5f2ff;



$clr1: #183a79;
$clr1: #006cfc;
$clr2: white;

                $clr3: rgb(184, 173, 173);
$clr3: #7fcbcf;
                $clr4: rgb(90, 86, 86);
$clr4: #6e9baa;
$clr5: #e7edff;
                $clr6: black;
$clr6: #4f9397;

//Media Breaks 
$mobile-media: 420px;
$tablet-media: 750px;
$container-width: 980px;
